@keyframes scaleshadow {
  25% {
      box-shadow: 0 0 .125em rgba(0,0,0,.2),0 0 .125em rgba(0,0,0,.2),-.35em 0 .125em rgba(0,0,0,.2),.35em 0 .125em rgba(0,0,0,.2)
  }

  50% {
      box-shadow: 0 0 .125em rgba(0,0,0,.2),0 0 .125em rgba(0,0,0,.2),-.25em 0 .125em rgba(0,0,0,.2),.25em 0 .125em rgba(0,0,0,.2)
  }

  75% {
      box-shadow: 0-.35em .125em rgba(0,0,0,.2),0 .35em .125em rgba(0,0,0,.2),-.25em 0 .125em rgba(0,0,0,.2),.25em 0 .125em rgba(0,0,0,.2)
  }

  to {
      box-shadow: 0-.25em .125em rgba(0,0,0,.2),0 .25em .125em rgba(0,0,0,.2),-.25em 0 .125em rgba(0,0,0,.2),.25em 0 .125em rgba(0,0,0,.2)
  }
}

@keyframes topl {
  to {
      transform: translateY(-.5em) rotateX(90deg) rotateY(-220deg)
  }
}

@keyframes topr {
  to {
      transform: translateY(-.5em) rotateX(90deg) rotateY(220deg)
  }
}

@keyframes topf {
  to {
      transform: translateZ(.5em) rotateZ(90deg) rotateY(130deg)
  }
}

@keyframes topb {
  to {
      transform: translateZ(-.5em) rotateZ(-90deg) rotateY(120deg)
  }
}

@keyframes rotate {
  to {
      transform: rotateX(-15deg) rotateY(-305deg)
  }
}

@keyframes outs {
  70%,to {
      transform: scale(1) translate(-50%,-100%)
  }
}
:root{
--c1:#FFFDF5;
--c2:#798896;
--c3:#485D70;	
--c4:#253B4E;
--c5:#091D30;
}

body {
  font: 16px/1.5 Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
  color: var(--c1);
  background: var(--c5);
  overflow-x: hidden;
  margin: 0
}

span {
  font-size: 16px
}

h1,h2,h3,p,span {
  margin: 0;
  position: relative
}

p,span {
  line-height: 1.5
}

p {
  padding: 0 1.5em;
  margin: .25em
}

h1,main a {
  line-height: 1
}

h1 {
  margin-top: 1em;
  margin-bottom: 0;
  font-size: 1.5em;
  text-align: center
}

h2,h3 {
  font-size: 1.25em;
  line-height: 1.2;
  margin-top: 1.2em
}

main a {
  background: var(--c5);
  padding: 1em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  border: 0;
  outline: 0;
  display: inline-block;
  margin: auto;
  user-select: none;
  font-weight: 700
}

a {
  color: var(--c1);
}

main a:visited {
  background-color: var(--c5);
}

main a:active {
  background-color: var(--c4);
}

main a:hover {
  background: var(--c3);
}

.boxwrp,.boxwrp span {
  display: block;
  position: relative
}

.boxwrp {
  perspective: 400px;
  margin: 0 auto;
  color: #222;
  font-size: 7em;
  overflow: hidden
}

.boxwrp span {
  font-size: 24px;
  margin: .2em auto
}

.boxwrp span.text,p {
  font-size: 16px
}

.boxwrp label {
  display: none
}

.box-download,input[type=checkbox] {
  -webkit-tap-highlight-color: transparent
}

.box-download {
  position: relative;
  height: 1em;
  width: 1em;
  margin: 1em auto;
  transform-style: preserve-3d;
  transform: rotateX(-15deg) rotateY(55deg);
  text-align: center;
  user-select: none;
  transform-origin: center center;
  animation: rotate 10s linear infinite
}

.fron {
  transform: translateZ(.5em)
}

.back {
  transform: scaleX(-1) translateZ(-.5em)
}

.left {
  transform: translateX(-.5em) rotateY(-90deg)
}

.righ {
  transform: translateX(.5em) rotateY(90deg)
}

.boto {
  transform: translateY(.5em) rotateX(90deg)
}

.topl,.topr {
  transform: translateY(-.5em) rotateX(90deg);
  transform-origin: left center;
  z-index: 1
}

.topr {
  transform-origin: right center;
  right: 0
}

.topf {
  transform-origin: .5em 0;
  right: 0;
  transform: translateZ(.5em) rotateZ(90deg) rotateY(-90deg)
}

.topb {
  transform: translateZ(-.5em) rotateZ(-90deg) rotateY(-90deg);
  transform-origin: 0 0
}

.back,.boto,.fron,.left,.righ {
  overflow: hidden;
  width: 1em;
  height: 1em;
  position: absolute;
  background: #E7DDB8;
  box-sizing: border-box;
  top: 0
}

.back,.fron,.left,.righ {
  box-shadow: 0 0 .1em #796A3541 inset,.2em .1em .2em .1em #AD9F6B66 inset
}

.boto {
  box-shadow: 0 0 .125em 0 rgba(0,0,0,.4)
}

.topb,.topf,.topl,.topr {
  overflow: hidden;
  width: .5em;
  height: 1em;
  position: absolute;
  background: #E7DDB8;
  box-shadow: 0 0 .1em #796A3541 inset,0 0 .2em .1em #AD9F6B66 inset;
  outline: 1px solid transparent;
  box-sizing: border-box;
  top: 0
}

input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  height: 50%;
  width: 100%;
  position: absolute;
  border: 0;
  z-index: 1;
  cursor: pointer;
  bottom: 0;
  left: 0
}

.box-download>div {
  display: flex;
  place-content: center;
  place-items: center;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.animation:active~.box-download>div {
  animation-name: initial;

}

.animation:checked~.box-download>div {
  animation-fill-mode: backwards;
  animation-direction: reverse
}

.animation:checked~.box-download .bands {
  animation-delay: 0s;
  animation-duration: .5s
}

.topl {
  animation-name: topl
}

.topr {
  animation-name: topr
}

.topb,.topf {
  animation-name: topf;
  animation-delay: 1s
}

.topb {
  animation-name: topb
}

.boto {
  animation-name: scaleshadow;
  animation-duration: 2.5s;
  animation-delay: .5s
}

.bands {
  animation: 1s 1s outs
}

.backf {
  backface-visibility: hidden;
  background: 0 0;
  z-index: 1
}

.bands {
  font-size: 12px;
  height: 100%;
  transform: scale(0) translate(-50%,-50%);
  position: absolute;
  left: 50%
}

.bands p {
  white-space: nowrap
}

footer,main {
  text-align: center
}

main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1em;
  height: 100%;
  overflow: hidden
}

.center {
  background: radial-gradient(circle,rgba(255,255,255,.46)0,rgba(212,204,155,.29) 30%,transparent 70%);
  background-repeat: no-repeat;
  height: 100%;
  min-height: 300px
}

.bg {
  background: var(--c5)
}

footer {
  width: 100%;
  font-size: .75em;
  min-height: 24px;
  background: var(--c3)
}

footer div {
  margin: 1em 0
}

.pad {
  padding: 0 1em
}

.wrap {
  position: relative;
  height: 100%
}

@media only screen and (max-width:600px) {
  .blocks {
      display: block
  }
}